body {
	background-image: url("background.jpg");
	background-size: cover;
	font-family: arial;
	color: white;
	line-height: 20px;
	font-weight: lighter;
}
article {
	padding: 100px;
	margin-top: 250px;
	margin-bottom: 100px;
}

hr {
	width: 25px;
	float: left;
	border-color: red;

}

.topBanner {
	/*position:absolute;
	top:0px;*/
	background-repeat: repeat-x;
}
