body {
	background-image: url("Images/background.jpg"), url("Images/stripes.png");
	background-size: cover;
	font-family: arial;
	color: white;
	line-height: 20px;
	font-weight: lighter;

}
article {
	padding: 100px;
	margin-top: 200px;
	margin-bottom: 100px;
}

hr {
	width: 25px;
	float: left;
	border-color: #ff4500;

}

.topBanner{
	position:absolute;
	top:0px;
	background-image:repeat-x;
}
